body{
background-color: #012e01;
color: rgb(177, 169, 169);



}
.capa{color:grey
    font-size :20px
}
#heroi {
    display: flex;
    padding: 200px;
}

.videos{

    display:flex;
    overflow: auto;
    gap: 10px;
}
.videos img{
    opacity: 0.5;
    height: 200px;
}
.videos img :hover{ 

    opacity: 1.0;
    border: 3px solid black ;
}
